$font-stack: Raleway, san-serif;
$primary-color: #d6d6d6;
$background-image: '../assets/grey_wash.png';
$logo-image: '../assets/whitelogo.svg';

html{
  height: 100%;
  width: 100%;
}

body {
  color: $primary-color;
  font: 100% $font-stack;
  background: url($background-image);
  height: 100%;
  width: 100%;
}

.site-header{
  span{
    background: url($background-image);
    img{
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
    }
  }
}

@media only screen and (min-width: 640px) {

  .site-nav{
    width: 100%;
    padding-bottom: 25px;
    ul{
      list-style-type: none;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    li{
      display: inline;
      margin: 0;
    }
    a {
      position: relative;
      font-size: 13px;
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      line-height: 24px;
      color: $primary-color;
      text-decoration: none;
    }
    /*can add underline class for cool animation here*/
  }

  .nav-wrapper{
    padding: 0;
    padding-bottom: 30px;
    background: url($background-image);
  }

  .mobile-nav-trigger{
    display:none;
  }

  .mobile-nav{
    display:none;
  }

}

h1{
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.2;
}

header h1{
  margin: 0 auto;
  padding: 25px;
  padding-top: 25px;
  font-size: 15px;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 22px;
  color: $primary-color;
  border: none;
  letter-spacing: 0.2em;
  text-align: center;
  font-weight: 400;
}

vcard{
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.small-icon{
  height: 25px;
}

.pos-ul{
  list-style-type: none;
  display: block;
  li{
    display: inline;
  }
}

.social-links{
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.site-footer{
  margin: 0 auto;
  text-align: center;
}

#slideshow1, #slideshow2{
  padding-top: 25px;
  padding-bottom: 25px;
}


@media only screen and (max-width : 640px) {
  .desktop-nav{
    display: none;
  }

  .nav-mobile {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 50%;
      height: 55px;
      /*height separates the hr from the button*/
      .mobile-nav-trigger {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        font-family: $font-stack;
        font-size: 18px;
        font-size: 1.8rem;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.1em;
        border: 1px solid $primary-color;
        color: $primary-color;
    }
  }

  .mobile-nav-dropdown {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      padding: 10px 0;
      width: 100%;
      border: 1px solid #111;
      background: #f9f8f2 url($background-image);
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
      z-index: 100;
      li {
        text-align: center;
    }
     a {
      display: block;
      font-size: 18px;
      font-size: 1.8rem;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 34px;
      letter-spacing: 0.2em;
      color: $primary-color;
    }
  }
}
