$font-stack: Raleway, san-serif;
$primary-color: #d6d6d6;
$background-image: '../assets/grey_wash.png';
$logo-image: '../assets/whitelogo.svg';

body {
  color: $primary-color;
  font: 100% $font-stack;
  background: url($background-image);

}

.site-header{
  span{
    background: url($background-image);
    img{
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
    }
  }
}

.site-nav{
  width: 100%;
  padding-bottom: 25px;
  ul{
    list-style-type: none;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  li{
    display: inline;
    margin: 0;
  }
  a {
    position: relative;
    font-size: 13px;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 24px;
    color: $primary-color;
    text-decoration: none;
  }
  /*can add underline class for cool animation here*/
}

.nav-wrapper{
  padding: 0;
  padding-bottom: 30px;
  background: url($background-image);
}

h1{
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.2;
}

header h1{
  margin: 0 auto;
  padding: 0;
  font-size: 15px;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 22px;
  color: $primary-color;
  border: none;
  letter-spacing: 0.2em;
  text-align: center;
  font-weight: 400;
}

vcard{
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
